.wpcf7 {
    &-form-control {
        background-color: $white !important;
        color           : $theme-color1 !important;
        border          : 2px solid $theme-color1 !important;
        border-radius   : 10px !important;
        margin-top      : 5px !important;
    }

    &-submit {
        height          : 50px !important;
        width           : 200px !important;
        min-width       : 200px !important;
        margin          : 30px 10px 20px 10px !important;
        background-color: $theme-color3 !important;
        color           : $theme-color1 !important;
        border          : 2px solid $theme-color1 !important;
        border-radius   : 15px !important;
    }
}