header {
    color           : $theme-color1;
    background-color: $white;
    box-shadow      : 0 2px 6px $theme-color1;

    position        : fixed;
    z-index         : 999;
    top             : 0;
    left            : 0;

    width           : 100%;
    height          : 100px;
    padding         : 10px 20px 10px 20px;
    display         : flex;
    flex-direction  : row;
    align-items     : center;

    .site-title {
        display         : flex;
        flex-direction  : row;
        align-items     : center;
        justify-content : center;

        width           : 150px;
        margin-left     : 15px;
        margin-right    : 15px;

        .service-name {
            font-size: $font-size-m;
            font-weight: bold;
        }
    }

    .hamburger-btn {

        position        : fixed;
        top             : 30px;
        right           : 50px;
        width           : 40px;
        height          : 40px;
        border          : none;
        z-index         : 10;
        background-color: $transparent;
        border-radius   : 0;

        .btn-line {
            display         : block;
            position        : relative;
            width           : 100%;
            height          : 1px;
            background-color: $theme-color1;
            transition      : 1.0s;

            &.open {
                background-color: $transparent;
                transition      : 1.0s;
            }

            &::before {
                transform: translate(-20px, -20px);
            }
            &.open::before {
                transform: translate(-20px) rotate(45deg);
            }

            &::after {
                transform: translate(-20px, 20px);
            }
            &.open::after {
                transform: translate(-20px) rotate(-45deg);
            }

            &::before,
            &::after {
                content         : "";
                position        : absolute;
                height          : 100%;
                width           : 100%;
                background-color: $theme-color1;
                transition      : 1.0s;

                &.open {
                    content         : "";
                    background-color: $theme-color1;
                    transition      : 1.0s;
                }
            }
        }

        @media screen and (min-width: $mq-tb) {
            display: none;
        }
    }

    .header-menu {
        @media screen and (max-width: $mq-tb) {
            position    : fixed;
            right       : -100%;
            transition  : 1.0s;
            height      : 100vh;
            width       : 100%;
            top         : 0;
            background-color: $white;
            box-shadow  : -2px 0px 2px $theme-color1;

            display         : flex;
            flex-direction  : column;
            align-items     : center;

            &.open {
                right       : 0;
                transition  : 1.0s;
            }

            nav#header-menu-nav {
                margin-top: 50px;

                ul {
                    display         : flex;
                    flex-direction  : column;
                    align-items     : center;

                    li {
                        margin       : 15px 10px 15px 10px;
                        font-size    : $font-size-s;
                        font-weight: bold;
                    }
                }
            }

            .header-sns_sharing {
                display         : flex;
                flex-direction  : row;
                align-items     : center;
                justify-content : center;
                margin          : 20px 0 20px 0;
            }

            .header-button_cta {
                button {
                    width: 250px;
                }
            }
        }

        @media screen and (min-width: $mq-tb) {
            display         : flex;
            flex-direction  : row;
            align-items     : center;
            justify-content : center;
            width           : calc( 100% - 150px );

            nav {
                margin-left : 20px;
                margin-right: 20px;

                ul {
                    display         : flex;
                    flex-direction  : row;
                    align-items     : center;
                    justify-content : center;

                    li {
                        margin       : 15px 10px 15px 10px;
                        font-size    : $font-size-s;
                        font-weight: bold;
                    }
                }
            }

            .header-sns_sharing {
                margin-left     : auto;
                margin-right    : 15px;

                display         : flex;
                flex-direction  : row;
                justify-content : center;
                align-items     : center;
            }

            .header-button_cta {
                margin-left : 20px;
                margin-right: 20px;
                button {
                    width: 250px;
                }
            }
        }
    }
}