button {
    color           : $theme-color2;
    background-color: $theme-color3;
    border-radius   : 10px;
    height          : 50px;
    width           : 200px;
    text-align      : center;
    font-weight     : bold;
    border-bottom   : 3px solid $theme-color6;

    &:active {
        margin-top      : 2px;
        color           : $theme-color2;
        background-color: $theme-color6;
        border-bottom   : 1px solid $theme-color7;
    }
}

.separator {
    width: 50%;
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid $theme-color3;
}