.btn {
    height          : 50px;
    width           : 200px;
    min-width       : 200px;
    margin          : 10px 10px 10px 10px;
    background-color: $theme-color3;
    color           : $theme-color1;
    border          : 2px solid $theme-color1;
    border-radius   : 15px;

    display         : flex;
    flex-direction  : row;
    align-items     : center;
    justify-content : center;

    &__p{
        font-weight : bold;
        text-align  : center;
        font-size   : $font-size-m;
    }
}

.order-number {
    border-radius   : 4px;
    height          : 30px;    
    display         : flex;
    align-items     : center;

    span {
        font-size   : $font-size-m;
        font-weight : bold;
        color       : $theme-color1;

        @media screen and (max-width: $mq-sp) {
            font-size: $font-size-s;
        }
    }
}

.badge {
    width           : 70px;
    height          : 30px;    
    display         : flex;
    align-items     : center;
    justify-content : center;
    background-color: $theme-color3;
    border          : 2px solid $theme-color1;
    border-radius   : 4px;
    
    &_off {
        @extend .badge;
        background      : none;
        border          : none;
    }

    span {
        font-size   : $font-size-xs;
        font-weight : bold;
        color       : $theme-color1;
    }
}

