main {
    section {
        &#profile-section-profile{
            .wp-block-group__inner-container{
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            p {
                margin-bottom: 10px;
                text-align: center;
            }
        }

        &#profile-section-video{
            .wp-block-group__inner-container{
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            button {
                width: 250px;
            }
        }

        &#profile-section-blog{
            .wp-block-group__inner-container{
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .recent-posts {
                li {
                    border-bottom: 1px solid $theme-color3;
                    padding-top:5px;
                    padding-bottom:5px;
                    .post-date {
                        margin-right: 10px;
                    }
                }
            }

            button {
                margin-top: 20px;
                margin-bottom: 20px;
            }
        }
    }
}