main {
    section {
        &#access-section-access{
            .wp-block-group__inner-container{
                width: 100%;
                max-width: 1000px;
            }
            .google-map{
                margin-bottom: 20px;
                .wp-block-group__inner-container{
                    position: relative;
                    width: 100%;
                    height: 0;
                    padding-top: 75%;
                    iframe {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            p {
                text-align: center;
            }
        }
    }
}


