// 変数宣言
$theme-color1: #1a251d;
$theme-color2: #f1f1f1;
$theme-color3: #FFEC07;
$theme-color4: #006c8c;
$theme-color5: #e4ecfb;
$theme-color6: #dbe5eb;

$font-size-xs  :0.75rem;
$font-size-s   :0.9rem;
$font-size-m   :1.0rem;
$font-size-l   :1.5rem;
$font-size-xl  :2.5rem;

$white         :#ffffff;
$transparent   :rgba(0, 0, 0, 0);

$mq-sp          :480px;
$mq-tb          :810px;
$mq-pc          :1280px;

@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@400;500&family=Zen+Maru+Gothic:wght@400;700&display=swap');
@import "_module.scss";
@import "_ulitmate-member.scss";
@import "_contact-form-7.scss";

html {
    font-family: 'Zen Maru Gothic','Zen Kaku Gothic Antique','Avenir','Helvetica Neue','Helvetica','Arial', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro','メイリオ', 'Meiryo', '游ゴシック', 'Yu Gothic', 'ＭＳ Ｐゴシック', sans-serif;
}

body {
    background-color: $theme-color2;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

header {
    color           : $theme-color1;
    background-color: $transparent;
    position        : fixed;
    z-index         : 999;
    top             : 0;
    left            : 0;
    width           : 100%;
    height          : 100px;
    padding         : 10px 20px 10px 20px;
    display         : flex;
    flex-direction  : row;
    align-items     : center;

    .site-title {
        display         : flex;
        flex-direction  : row;
        align-items     : center;
        justify-content : center;

        .service-name {
            font-size: $font-size-l;
            font-style: italic;
            font-weight: bold;
        }
    }

    nav {
        width           : 100%;
        height          : 100vh;
        position        : fixed;
        top             : 0;
        right           : 0;
        color           : $theme-color1;
        background-color: $theme-color2;
        visibility      : hidden;
        opacity         : 0;
        transition      : all 0.5s;

        &.open {
            visibility  : visible;
            opacity     : 1;
            transition  : all 0.5s;
        }

        ul {
            display         : flex;
            flex-direction  : column;
            align-items     : center;
            margin          : 100px auto 0 auto;
            
            li {
                margin       : 15px 0 15px 0;
                font-size    : $font-size-l;
            }
        }
    }

    .hamburger-btn {
        position        : fixed;
        top             : 20px;
        right           : 20px;
        width           : 40px;
        height          : 40px;
        cursor          : pointer;
        margin          : 10px 10px 10px auto;
        z-index         : 1000;
        transition      : all .5s;
        box-sizing      : border-box;

        span {
            position: absolute;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: $theme-color1;
            border-radius: 4px;
            transition: all .5s;
            box-sizing: border-box;

            &:nth-of-type(1) {
                top: 0;
            }
            &:nth-of-type(2) {
                top: 20px;
            }
            &:nth-of-type(3) {
                bottom: 0;
            }
        }

        &.active span{
            &:nth-of-type(1) {
                transform: translateY(20px) rotate(-45deg);
            }
            &:nth-of-type(2) {
                left: 50%;
                opacity: 0;
            }
            &:nth-of-type(3) {
                transform: translateY(-20px) rotate(45deg);
            }
        }

    }

    &.up-move{
        animation     : UpAnime 0.5s forwards;
        @keyframes UpAnime{
            from {
                  background-color: rgba(255, 255, 255, 0.7);
                  transform: translateY(0);
            }
            to {
                  background-color: rgba(255, 255, 255, 0);
                  transform: translateY(-100px);
            }
          }
    }

    &.down-move{
        animation: DownAnime 0.5s forwards;
        @keyframes DownAnime{
            from {
                background-color: rgba(255, 255, 255, 0);
                transform: translateY(-100px);
            }
            to {
                background-color: rgba(255, 255, 255, 0.7);
                transform: translateY(0);
            }
        }
    }

    &.up-move{
        animation: UpAnime 0.5s forwards;
        @keyframes UpAnime{
            from {
                background-color: rgba(255, 255, 255, 0.7);
                transform: translateY(0);
            }
            to {
                opacity: 0;
                transform: translateY(-100px);
            }
        }
    }
}

main {
    width   : 100%;
    margin  : 100px 0px 0px 0px ;
    min-height      : 100vh;

    &.main_curriculum,
    &.main_category,
    &.main_tag,
    &.main_post,
    &.main_search {
        width   : 70%;
        @media screen and (max-width: $mq-sp) {
            width   : 100%;
        }
    }

    .main-section {
        padding         : 50px 10px 100px 10px;
        display         : flex;
        flex-direction  : column;
        justify-content : center;
        align-items     : center;

        &#top {
            position        : relative;
            padding         : 15px 15px 15px 15px;
            height          : 100vh;
            width           : 100%;
            
            .top-msgs {
                position        : absolute;
                z-index         : 100;

                &__item_main{
                    font-size       : $font-size-xl ;
                    color           : $theme-color1 ;
                }
                &__item_sub{
                    font-size       : $font-size-m ;
                    color           : $theme-color1 ;
                    margin-top      : 10px ;                    
                }
                
                @media screen and (max-width: $mq-pc) {
                    width   : 80%;
                    top     : 20%;                    
                    left    : 10%;
                    right   : 10%;
                }

                @media screen and (min-width: $mq-pc) {
                    top     : 30%;      
                    left    : 25%;
                    width   : 80%;
                
                }
            }

            .top-btns {
                position        : absolute;
                display         : flex;
                flex-direction  : row;
                flex-wrap       : wrap;
                z-index         : 10;
                justify-content : center;
                align-items     : center;
                @media screen and (max-width: $mq-sp) {
                    top: 50%;
                    left: 25%;
                    width: 50%;
                }

                @media screen and (min-width: $mq-sp) {
                    top     : 35%;      
                    left    : 20%;
                    width   : 60%;
                }

                @media screen and (min-width: $mq-pc) {
                    top     : 45%;      
                    left    : 15%;
                    width   : 50%;
                }
            }

            .top-imgs {
                &__item {
                    position        : absolute;
                    z-index         : 10;
                    border          : 0;

                    @media screen and (max-width: $mq-pc) {
                        opacity: 0.2;
                        width: 70%;
                        top: 30%;                    
                        left: 50%;
                        transform: translate(-50%, -50%);
                        z-index: 0;
                    }
                    
                    @media screen and (min-width: $mq-pc) {
                        top     : 40%;      
                        left   : 70%;
                        width   : 20% ;
                        transform: translate(-50%, -50%);
                    }
                }
            }
        }

        &#feature {
            .main-section__content {
                display         : flex;
                flex-direction  : row;
                flex-wrap       : wrap;
                justify-content : center;
                color           : $theme-color1;

                .feature-item {
                    width           : clamp(300px, 20%, 350px) ;
                    margin          : 10px 10px 10px 10px;
                    padding         : 20px 5px 20px 5px;
                    display         : flex;
                    flex-direction  : column;
                    align-items     : center;

                    &__img {
                        height          : 100px;
                        width           : 100px;
                        background-color: $white;
                        border          : 2px solid $theme-color4;
                        border-radius   : 10px;
                        display         : flex;
                        flex-direction  : column;
                        align-items     : center;
                        justify-content : center;

                        &__item {
                            margin: 10px;
                            height: 50px;
                            width: 50px;
                        }
                    }

                    &__title_main {
                        font-size       : $font-size-l;
                        text-align      : center;
                        margin          : 30px 0 0 0;
                        position        : relative;
                        background-color: $theme-color3;
                    }

                    &__content {
                        font-size       : $font-size-s;
                        max-width       : 400px;
                        margin          : 0 0 20px 0;
                        padding         : 10px 10px 10px 10px;
                        text-align      : center;
                    }
                }    
            }
        }

        &#curriculum {
            .main-section__content{
                
                display         : flex;
                flex-direction  : row;
                flex-wrap       : wrap;
                justify-content : center;
                color           : $theme-color1;
                
                .curriculum-item{
                    width           : clamp(300px, 20%, 350px) ;
                    margin          : 10px 10px 10px 10px;
                    padding         : 20px 5px 20px 5px;
                    border          : 2px solid $theme-color1;
                    background-color: $theme-color5;
                    border-radius   : 20px;
                    display         : flex;
                    flex-direction  : column;
                    align-items     : center;
                    
                    &__img {
                        height          : 100px;
                        width           : 100px;
                        background-color: $theme-color6;
                        border          : 2px solid $theme-color1;
                        border-radius   : 50%;
                        display         : flex;
                        flex-direction  : column;
                        align-items     : center;
                        justify-content : center;
                        
                        &__item {
                            margin: 10px;
                            height: 50px;
                            width: 50px;
                        }
                    }
                    
                    &__title {
                        &_main {
                            font-size       : $font-size-l;
                            text-align      : center;
                            margin          : 30px 0 0 0;
                            font-weight     : bold ;
                            position        : relative;
                        }
                        
                        &_sub {
                            font-size       : $font-size-s;
                            text-align      : center;
                            margin          : 5px 0 0 0;
                            font-weight     : bold ;
                            position        : relative;
                        }
                    }
                
                    &__content {
                        font-size       : $font-size-s;
                        max-width       : 400px;
                        margin          : 0 0 20px 0;
                        padding         : 10px 10px 10px 10px;
                        text-align      : center;
                    }
                }
            }
        }
        
        &#news {
		    .news{
                display: flex;
                flex-direction: column;
                width: 90%;
                margin: 0 auto 0 auto;

                &__items {
                    display     : flex;
                    flex-direction: row;
                    align-items : center;
                    margin      : 10px 0 10px 0;
                    padding     : 10px 0 10px 0;
                    border-bottom: 1px solid $theme-color4;
    
                    &__item_date {
                            font-size   : $font-size-m;
                            color       : $theme-color1;
                            margin      : 0 0 0 0;
                            width       : clamp(100px, 30%, 200px) ;
                    }
    
                    &__item_title {
                        font-size: $font-size-m;
                        color: $theme-color1;
                    }
                }
            }
        }
        
        &#contact {
            .contact-form {
                width           : clamp(300px, 75%, 700px);
                margin-left: auto;
                margin-right: auto;

                display         : flex;
                flex-direction  : column;
                align-items     : center;
                
                .wpcf7 {
                    width: 100%;
                }
                
                label {
                    font-size: $font-size-s;
                    color: $theme-color1;
                }
                
                p {
                    margin: 15px 0 0 0;
                }

                input, textarea {
                    border          : 1px solid $theme-color3;
                    border-radius   : 5px;
                    padding         : 5px 5px 5px 5px;
                    width           : 100%;
                    margin-left: auto;
                    margin-right: auto;
                }

                input[type="submit"] {
                    color           : $white;
                    background-color: $theme-color4;
                    border          : 1px solid $theme-color4;
                    width           : 20%;
                    font-size       : $font-size-m;
                    text-align      : center;
                    padding         :10px 10px 10px 10px;
                }
            }
        }

        &__title {
            color           : $theme-color1;
            text-align      : center;
            margin          : 0 0 75px 0;
            
            &__item_main {
                font-size   : $font-size-xl;                
            }

            &__item_sub {
                font-size   : $font-size-l;
                margin      : 20px 20px 10px 20px;
            }
        }

        &__content {
            &_curriculum,
            &_category,
            &_tag,
            &_search {
                width       : 90%;
                margin-left : auto;
                margin-right: auto;
                padding     : 50px 50px 0px 50px;
                
                @media screen and (max-width: $mq-tb) {
                    padding     : 0px;
                    width       : 100%;
                }

                li {
                    font-size   : $font-size-l;
                    margin      : 10px 0px 10px 0px;
                    @media screen and (max-width: $mq-tb) {
                        margin  : 0;
                    }
                }

                .article-item {
                    width           : 100%;
                    display         : flex;
                    flex-direction  : row;
                    flex-wrap       : wrap;
                    align-items     : center;
                    margin          : 10px 10px 10px 10px;
                    padding         : 10px 10px 10px 10px;
                    border-bottom   : 2px solid $theme-color6;
                    
                    @media screen and (max-width: $mq-tb) {
                        flex-wrap   : wrap;
                    }
                    
                    .order-number {
                        margin: 0px 10px 0px 0px;
                    }

                    &__title {
                        margin      : 0px 10px 10px 10px;
                        width       : 100%;
                        
                        h2{
                            font-size   : $font-size-l;
                            font-weight : bold;

                            @media screen and (max-width: $mq-tb) {
                                font-size: $font-size-m;
                            }
                        }
                    }

                    &__excerpt {
                        width   : 100%;
                        margin  : 0px 10px 0px 10px;                        
                        p {
                            font-size   : $font-size-s;
                        }
                    }

                    &__tag {
                        width   : 100%;
                        margin  : 0px 10px 0px 10px;
                        span {
                            font-size       : $font-size-xs;
                            text-decoration : underline;
                        }
                    }
                    
                    &__category {
                        width   : 100%;
                        margin  : 0px 10px 0px 10px;
                        span {
                            font-size   : $font-size-xs;
                            text-decoration : underline;
                        }
                    }
                }
            }

            &_curriculum {
                .curriculum {
                    display         : flex;
                    flex-direction  : row;
                    flex-wrap       : wrap;
                    align-items     : center;
                    justify-content : center;
                    margin          : 10px 0px 10px 0;

                    border-bottom   : 2px solid $theme-color6;

                    &__title {
                        width: 70%;
                        &__name {
                            font-size: $font-size-l;
                        }
                        &__description {
                            font-size: $font-size-s;
                        }
                    }

                    &__btn {
                        width: 30%;
                    }
                }
            }

            &_article {
                display         : flex;
                flex-direction  : column;
                justify-content : center;
                width: 100%;

                .main-section {
                    &__date {
                        display         : flex;
                        flex-direction  : row;
                        align-items     : center;
                        justify-content : center;
                        margin          : 10px 0px 10px 0px;
                        span {
                            margin      : 5px 10px 5px 10px;
                            font-size   : $font-size-s;
                        }
                    }

                    &__sub {
                        display         : flex;
                        flex-direction  : column;
                        align-items     : center;
                        justify-content : center;
                        width           : 90%;
                        margin          : 5px auto 5px auto;
                        span {
                            margin      : 5px 10px 5px 10px;
                            font-size   : $font-size-s;
                        }
                    }

                    &__article {
                        width           : 95%;
                        margin-top      : 50px;
                        margin-bottom   : 50px;
                        margin-left     : auto;
                        margin-right    : auto;
                        padding         : 50px 10px 50px 10px;
                        border-top      : 2px solid $theme-color4;

                        article {
                            .wp-block-button__link{
                                @extend .btn;
                            }

                            h1,h2,h3,h4,h5,h6 { 
                                margin      : 20px 0px 15px 0px;
                                font-weight : bold;
                            }
                            h1 { font-size   : 2.0rem; }
                            h2 { font-size   : 1.7rem; }
                            h3 { font-size   : 1.3rem; }
                            h4 { font-size   : 1.2rem; }
                            h5 { font-size   : 1.1rem; }
                            h6 { font-size   : 1.1rem; }
                            
                            p {
                                font-size   : 1.1rem;
                                margin      : 10px 0px 10px 0px;
                                line-height : 1.25;
                                a {
                                    color           :$theme-color4;
                                    text-decoration : underline;
                                    font-size       : $font-size-s;
                                    &:active{
                                        color : $theme-color3;
                                      }
                                }
                            }
                        
                            ul {
                                list-style-type: disc;
                                margin          : 10px auto 10px auto;
                            }
                        
                            ol {
                                list-style-type: decimal-leading-zero;
                                margin          : 10px auto 10px auto;
                            }
                        
                            li {
                                margin: 5px 0px 5px 20px;
                            }

                            table {
                                border          : 2px solid $theme-color4;
                                margin          : 10px auto 10px auto;
                                td, tr, th {
                                    border      : 2px solid $theme-color4;
                                    padding     : 10px 10px 10px 10px; 
                                }
                            }
                        
                            figure {
                                margin: 20px auto 20px auto;
                                border-radius: 5px;
                                width: 100%;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;
                        
                                img {
                                    margin : 10px auto 10px auto;
                                    width: 90%;
                                    max-width: 750px;
                                }
                        
                                figcaption {
                                    font-size: $font-size-xs;
                                }
                            }

                            strong {
                                color               : $theme-color4;
                                background-color    : $theme-color3;
                            }

                            b {
                                font-size       : bold ;
                            }

                            hr {
                                margin: 50px 0px 30px 0px; 
                                color :$theme-color4;
                            }
                        }
                    }
                }
            }
        }
    }
}

aside {
    background-color: $theme-color6;
    width           : 25%;
    margin          : 300px 2.5% 150px 2.5%;
    padding         : 25px 25px 25px 25px;
    border          : 2px solid $theme-color1;
    border-radius   : 20px;

    @media screen and (max-width: $mq-sp) {
        width   : 95%;
    }

    .sidebar-wrapper {
        margin      : 30px 0px 5px 0px;

        h2, label {
            font-size   : $font-size-l;
            font-weight : bold;
        }
        
        li, p {
            font-size   : $font-size-s;
            margin      : 5px 0px 5px 0px;
        }

        input {
            margin          : 10px 0px 0px 0px;
            border          : 2px solid $theme-color1;
            border-radius   : 10px;
            background-color: $theme-color2;
            height          : 50px;
        }

        button {
            @extend .btn;
            font-size   : $font-size-xs;
            font-weight : bold;
            min-width   : 30px;  
            width       : 30px;
            border-radius: 5px;
        }
    }
}

footer {
    background-color: $theme-color4;
    color           : white;
    min-height      : 20vh;
    padding         : 50px 0 10px 0;
    width           : 100%;

    .footer__about {
        margin-left : auto;
        margin-right: auto;
        width       : 100%;
        p {
            font-size   : $font-size-m;
            text-align  : center;
        }
    }

    .footer__copyright{
        margin-left : auto;
        margin-right: auto;
        width       : 100%;
        h5{
            font-size       : $font-size-s;
            height          : 100px;
            padding         : 30px 0 30px 0;
            text-align      : center;
        }
    }
}